* {
  box-sizing: border-box;
}

@font-face {
  font-family: roqueFont;
  src: url("D:\Studies\others\react js\cryptoApp\src\assets\fonts\roguehero.ttf");
}

@font-face {
  font-family: torus;
  src: url("D:\Studies\others\react js\cryptoApp\src\assets\fonts\TorusNotched-Regular.ttf");
}

.home {
  background: linear-gradient(-90deg, #650418 0%, #bc0210 70%, #e50416 100%);
  line-height: 38px;
  font-weight: 0;
  font-size: 1.125rem;
  color: #ffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* font-family: Comic Sans MS; */
  font-family: torus;

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 15px;
    }

    .modal-title {
      padding: 0 25%;
      margin: 10px 0;
      span {
        display: block;
        font-size: large;
      }
    }
  }
}

a {
  color: #ffff;
  text-decoration: none;
}

.header-container {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 5px 0 0 0;
  height: 50px;
  z-index: 1;
}

.header-container .menu {
  display: flex;
  justify-content: center;
  flex: 1;
}

.header-container img {
  height: 50px;
  width: 50px;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .header-container .menu,
  .wallet-btn {
    display: none;
  }

  .header-container {
    justify-content: space-between;
    height: 78px;
    padding: 20px 10px;
  }

  .header-container img {
    height: 50px;
    width: 50px;
  }

  .menu-overlay {
    position: fixed;
    z-index: 1;
    top: 78px;
    left: 0;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #5b1112;
    border-top: 1px solid black;
  }

  .menu-overlay .menu-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .link-button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .social-links-container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu-overlay {
    display: none;
  }
}

.menu .menu-links a {
  margin: 0 25px;
  color: #ffff;
  text-decoration: none;
}

.link-button {
  background-color: transparent;
  font-family: torus;
}

button {
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

button.primary {
  border-radius: 10px;
  color: white;
  background: linear-gradient(#ff0303 0%, #cc633d 100%);
}

button.secondary {
  border-radius: 10px;
  background-color: white;
}

button.secondary span {
  background-image: linear-gradient(60deg, #ff0303, #cc633d);
  color: transparent;
  background-clip: text;
}

span.highlighted {
  /* background: linear-gradient(#30bddc 0%, #5189e1 100%); */
  color: linear-gradient(#d81a1a 0%, #6e0a08 100%);
  border-radius: 5px;
  /* margin: 50px 0; */
  /* padding: 0 10px; */
}

.hero-section-father {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("./assets/1.png");
  background-size: cover;
  align-items: stretch;
}

.hero-section-father-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg1.png");
  background-size: cover;
  align-items: center;
}

.hero-section-father-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg2.png");
  background-size: cover;
  align-items: center;
}

.new {
  background-image: url("./assets/bg3.png");
}

.feature-banner {
  opacity: 0.8;
  width: 75%;
  align-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 0;
}

.hero-section-container {
  font-weight: 500;
  line-height: 50px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;

  /* align-self: flex-end; */
}

.hero-info-wrapper {
  width: 60%;
  margin: 0 10px;
}

.hero-info-wrapper .white-paper-btn {
  background-color: #d81a1a;
  color: white;
  padding: 10px 20px;
  height: 10%;
}

.hero-info-wrapper .white-paper-btn:hover {
  background-color: white;
  color: #d81a1a;
}

.white-paper-section {
  /* margin: 30px 0; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10%;
}

.home-icon {
  margin: 0 5%;
  height: 250px;
  width: 250px;
}

.swap-token {
  /* width: 30%; */
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
}

.hero-image-container {
  /* width: 30%; */
  padding: 0 50px;
}

.feature-text {
  margin: 0 auto;
  /* font-family: comfotaa; */
  /* Arial, Helvetica, sans-serif; */
  font-weight: 300;
  font-size: 1rem;
  opacity: 0.8;
  /* color: grey; */
}

/* --> */
@media only screen and (max-width: 900px) {
  .hero-section-container {
    flex-direction: column;
    line-height: normal;
    align-items: center;
  }

  .hero-section-container .hero-info-wrapper {
    width: 90%;
    padding-top: 4rem;
  }

  .hero-section-container .hero-info-wrapper .hero-info-text h1 {
    font-size: 25px;
    line-height: normal;
    margin: 20px 0;
  }

  .white-paper-section {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-icon {
    margin: 0 20%;
    height: 200px;
    width: 200px;
  }

  .white-paper-btn {
    width: 200px;
    margin: auto;
  }

  .search-container .search-input-wrapper {
    padding: 5px;
  }

  .search-container .search-btn {
    padding: 5px;
  }

  .hero-image-container img {
    width: 100%;
  }

  /* .feature-banner {
    width: 80%;
  } */

  .feature-text {
    font-size: small;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .hero-info-wrapper {
    padding-top: 5rem;
  }
}
.hero-section-container .hero-info-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-basis: 47%;
}

.hero-section-container .hero-info-text h1 {
  font-weight: 100;
  font-size: 5rem;
  line-height: 95px;
  font-family: roqueFont;
  margin-bottom: 0;
  /* font-style: italic; */
}

p {
  /* color: #9f9fc8; */
  font-size: 1.5rem;
}

/* .hero-section-container .hero-info-text .hero-info-description {
  margin: 0;
} */

/* .hero-image-container {
} */
@media only screen and (min-width: 768px) {
  .hero-image-container .hero-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 11px;
    margin-bottom: 9px;
  }
  .hero-img2 {
    width: 220px;
    height: 240px;
    margin: 0 auto;
  }

  .hero-img1 {
    width: 190px;
    height: 190px;
    margin: 0 auto;
  }
}

.hero-img-container2 {
  display: flex;
  flex-direction: column;
}

.hero-img2 {
  width: 250px;
  height: 280px;
  margin: 0 auto;
}

.hero-img1 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}
.search-container {
  color: #9f9fc8;
  background-color: #24245d;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  line-height: 29px;
}

.search-container .search-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 15px;
}

.search-container .search-input {
  color: #9f9fc8;
  height: 100%;
  border: none;
  background-color: transparent;
  line-height: 29px;
  font-weight: 400;
  font-family: "Outfit";
  font-size: 1.125rem;
  width: 100%;
}

.search-input::placeholder {
  color: #9f9fc8;
}

.search-container .search-btn {
  display: flex;
  flex-direction: row;
  flex-basis: 35%;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 30px;
  padding: 15px;
  border-radius: 5px;
}

.social-links-container {
  margin: 10px 0;
  padding: 0 20px;
}

.social-links a {
  margin: 0 10px;
  color: red;
}

.social-links a:hover {
  color: #fff;
}

.again {
  margin: 20px;
  background-color: black;
  padding: 10px 0;
  padding-bottom: 0;
  border-radius: 20px;
}

.again a {
  color: white;
}

.again a:hover {
  color: red;
}
@media only screen and (max-width: 768px) {
  .again {
    padding-bottom: 10px;
  }
}

.feature-container {
  /* color: #9f9fc8; */
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  margin-bottom: 17px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  /* margin-top: 50px; */
}

.roadMap {
  flex-direction: column;
}

.two {
  flex-direction: column;
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    width: 85%;
  }

  .social-links-container2 {
    justify-content: center;
  }
  .social-links {
    width: 100px;
    margin: 10px auto;
  }
}

.swap-token-container {
  color: #fff;
  height: 100%;
  background-color: #1f2729;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.tokens-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-basis: 56%;
  margin-top: 3px;
  flex-direction: column;
}

.token-container {
  width: 100%;
  background-color: #23235b;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 20px 20px 20px 0px;
  margin: 5px 0;
}

.token-info {
  height: 50%;
  border-radius: 0 20px 20px 0;
  background-color: #1d1d48;
  display: flex;
  flex-basis: 42%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  margin-right: 2px;
  padding-left: 7px;
  line-height: 30px;
}

.token-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-left: 1px;
}

.token-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;
}

.token-title-container .token-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.token-title-container .token-title-long {
  color: #9f9fc8;
  font-weight: 700;
  line-height: 21px;
}

.swap-token-container .btn-container {
  display: flex;
  width: 90%;
  margin-top: 5px;
}

.swap-token-container .btn-container button {
  width: 100%;
}

.feature-description {
  height: 85%;
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 17px;
  margin-bottom: 12px;
  font-size: 1.5rem;
  line-height: 49px;
}

.token {
  border: 3px solid white;
  border-radius: 30px;
  padding: 5px 30px;
  align-items: start;
  margin: 0;
  justify-content: start;
}

@media only screen and (max-width: 1200px) {
  .token {
    height: 100%;
  }

  .swap-token-container {
    width: 90%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .token {
    font-size: 1.2rem;
  }
}
.three {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .three {
    flex-direction: column;
  }
}
.feature-container .feature-description .feature-description-title {
  color: #fff;
  width: 100%;
  font-size: 20px;
}

.feature-description-paragraph {
  line-height: 40px;
  margin: 0;
  height: 90%;
  font-size: 1.25rem;
  color: #ffcfdb;
}

/* @media only screen and (max-width: 768px) {
  .feature-description {
    width: 80%;
  }
} */

.gradient-border {
  background: linear-gradient(#5b1112 0 0) padding-box,
    linear-gradient(to right, transparent, #30bddc) border-box;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: double 1px transparent;
}

.daily-stats-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  color: #9f9fc8;
  width: 75%;
  background-color: #5b1112;
  border-radius: 10px;
  font-weight: 500;
  line-height: 43px;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .daily-stats-container {
    flex-direction: column;
  }
}

.daily-stats-container .metric-container {
  display: flex;
  padding: 18px;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.daily-stats-container .metric-container .metric-title {
  color: #9f9fc8;
  font-weight: bold;
  font-size: 18px;
  text-align: center; /* addition - for text to be in center */
}

.daily-stats-container .metric-container .metric-value {
  align-self: flex-end;
  font-size: 36px;
  font-weight: medium;
}

.card-container,
.stepCardInfo {
  padding: 20px;
  /* background-color: #131330; */
  color: white;
  border-radius: 10px;
  background: linear-gradient(#5b1112 0 0) padding-box,
    linear-gradient(to top left, transparent, #30bddc) border-box;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border: double 1px transparent;
  margin: 20px auto;
  width: 100%;
  height: 90%;
}

.stepCard {
  position: relative;
  margin: 0 10px;
  width: 75%;
}

.stepCardTitle {
  font-weight: 100;
  color: #ffcfdb;
}

.stepCardTitle2 {
  font-weight: 100;
  line-height: 1.7rem;
}

.stepDescription {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  /* .stepCard {
    margin: 0;
  } */
  .stepCardInfo {
    margin: 20px auto;
  }

  .stepCard {
    position: relative;
    margin: 0 10px;
    width: 100%;
  }
}

.card-container h1 {
  color: #fff;
}

.features-list-container {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 40px 0;
}

@media only screen and (max-width: 768px) {
  .features-list-container {
    grid-template-columns: 1fr;
  }
}

.features-list-title {
  margin-bottom: 10px;
  text-align: left;
  width: 75%;
}

.social-media-promotion-container {
  width: 75%;
  margin: 30px 0;
}

.dev-section-container .dev-section-list .dev-section-title {
  font-size: 30px;
}
.social-media-promotion-container .card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.social-media-promotion-icons {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .social-media-promotion-icons {
    flex-direction: column;
  }
}

.social-media-promotion-icons a {
  margin: 0 10px;
}

.dev-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("./assets/1.png");
  background-size: cover;
}

.dev-section-description {
  font-size: 1.25rem;
  padding: 20px 0;
  border-bottom: 1px solid white;
  color: #ffcfdb;
}

.dev-section-description-last {
  font-size: 1.25rem;
  color: #ffcfdb;
  padding: 20px 0;
}

.dev-section-description1 {
  color: #ffcfdb;
}

.dev-section-container .dev-section-list {
  width: 70%;
  margin: 40px auto;
}

.dev-section-container .dev-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .dev-section-container .dev-section-wrapper {
    flex-direction: column;
  }

  .dev-section-wrapper .btn-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .dev-section-image img {
    margin-top: 20px;
  }
}

.dev-section-container .dev-section-wrapper .dev-section-text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dev-section-container .dev-section-wrapper .dev-section-image {
  display: flex;
  justify-content: center;
}

.dev-section-container .dev-section-wrapper .dev-section-image img {
  max-height: 300px;
}

.dev-section-container .dev-section-wrapper .btn-wrapper button {
  margin: 10px 10px;
}

.blog-section-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.blog-section-container .blog-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-card-container {
  position: relative;
}

.img-card-container .img-wrapper {
  height: 100%;
  border-radius: 10px;
}

.img-card-container .img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
}

.img-card-container .card-image {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.img-card-container .img-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
}

.blog-section-container .blogs-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
}

@media only screen and (max-width: 768px) {
  .blog-section-container .blogs-container {
    grid-template-columns: 1fr;
  }
}

.blog-section-container .blogs-container .img-card-container:first-child {
  grid-row: 1/3;
}

.blog-section-container .blogs-container .img-card-container:nth-child(2) p,
.img-card-container:nth-child(3) p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  .img-card-container:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* background-color: #5b1112; */
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.footer-row .terms-section h3 {
  margin: 0;
}

.terms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .footer-row {
    display: flex;
    line-height: 1rem;
    flex-direction: column;
  }

  .footer-row .terms-section h3 {
    margin: 20px 0;
  }
  .copyright-sub1 {
    font-size: 1.25rem;
  }

  .copyright {
    margin: 10px 0;
  }

  .icon {
    font-size: 0.1rem;
  }
}

.copyrights-section {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.copyright-sub {
  display: flex;
  flex-direction: row;
}

.copyright-sub1 {
  margin-right: 10px;
  font-size: 1.5rem;
}

.copyright-sub1 h3 {
  font-family: roqueFont;
  font-weight: 100;
}

.copyright-statement {
  margin-bottom: 20px;
  justify-content: space-evenly;
}
.disclaimer-section {
  padding: 20px 0;
  line-height: 1.5rem;
  font-size: 1rem;
}
.disclaimer {
  color: #dad2d2;
}

.hamburger svg {
  width: 20px;
  height: 20px;
}

.hamburger {
  background: none;
  border: none;
  padding: 0px;
}

.hamburger path {
  fill: white;
}

.tokenomics-container {
  display: grid;
  width: 75%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 100px auto;
}
.tokenomics-container .feature-description-title {
  font-size: 20px;
}

.tokenomics-container .daily-stats-container {
  display: flex;
  flex-direction: column;
  /* background-color: #5b1112; */
}

@media only screen and (max-width: 768px) {
  .tokenomics-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .daily-stats-container {
    /* margin-top: 30px; */
    margin: 35px 0;
    width: 100%;
  }

  .feature-description {
    margin-top: 0;
  }

  .daily-stats-container .metric-container .metric-value {
    font-size: 25px;
  }
}

.steps-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
}

.logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -20px;
}

@media only screen and (max-width: 768px) {
  .steps-container {
    /* /* padding: 30px; */
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
  }

  .logo {
    width: 50px;
    height: 50px;
    left: -25px;
  }
}

.faq-children-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  padding: 30px 0;
}

.faq-child1 {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  justify-content: space-evenly;
  border-right: 2px solid white;
}
.faq-child1 .dev-section-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-child1 .dev-section-image img {
  max-height: 300px;
}

.faq-child2 {
  padding-left: 100px;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.question {
  cursor: pointer;
  /* animation: fadeIn 0.5s ease-in-out; */
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.open {
  max-height: 500px;
}

@media only screen and (max-width: 768px) {
  .faq-children-container {
    flex-direction: column;
  }

  .faq-child1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-right: 0;
    border-bottom: 1px solid white;
  }

  .faq-child2 {
    padding-left: 0;
  }
}

.presale {
  width: 100%;
  text-align: center;
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  .division-section,
  .presale-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .line {
    width: 30%;
    border-bottom: 1px solid white;
  }
  /* {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */

  .presale-exchange {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15px;

    .coin-input,
    .ded-input {
      display: flex;
      text-align: left;
      flex-direction: column;
      padding: 0 10px;
    }
  }
}

.presale-coin-image {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 7px;
  top: 12px;
  /* top:10px; */
}

@media only screen and (max-width: 900px) {
  .presale {
    height: 500px;
  }

  .presale-coin-image {
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }

  .timer-description {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .presale-coin-image {
    right: 5px;
    top: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .presale-exchange {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 0;
  }

  .ded-input,
  .coin-input {
    margin: 10px 0;
    width: 90%;
    label {
      margin-bottom: 10px;
    }
  }

  .input1,
  .input2 {
    height: 100%;
  }
}

.progress-container {
  position: relative;
}
progress[value] {
  --w: 100%; /* the width*/
  --color:  /* the progress color */ linear-gradient(90deg, #da0000, #ff7788) 0 /
    var(--w);
  --background: white; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: var(--w);

  border-radius: 5px;
  /* background: var(--background); */
  background: repeating-linear-gradient(
    -45deg,
    #222b30,
    #222b30 5px,
    #3a4249 5px,
    #3a4249 10px
  );
}
progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  /* background: var(--background); */
  background: repeating-linear-gradient(
    -45deg,
    #222b30,
    #222b30 5px,
    #3a4249 5px,
    #3a4249 10px
  );
}
progress[value]::-webkit-progress-value {
  border-radius: 5px;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 5px;
  background: var(--color);
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.btn {
  /* display: block; */
  font-family: inherit;
  color: inherit;
  font-size: 1.25rem;
  background-color: #2a3338;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px;
}

.close {
  font-size: 1rem;
}

.btn-selected {
  border: 1px solid white;
}
.btn-connect {
  background-color: #da0000;
  font-size: 1rem;
  width: 50%;
  margin: 0 25%;
}

.connect-wallet-btn {
  width: 100%;
}

.input1,
.input2 {
  border-radius: 100px;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 80%;
  background-color: #1d1b1b;
  border: #1d1b1b;
  color: white;
}

.input1::-webkit-inner-spin-button,
.input1::-webkit-outer-spin-button,
.input2::-webkit-inner-spin-button,
.input2::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/* .btn:not([disabled]):hover {
  border: 1px solid white;
} */

.btn[disabled]:hover {
  cursor: not-allowed;
}

.connect-wallet-btn:not([disabled]):hover {
  border: 1px solid white;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.curved {
  border-radius: 100px;
}
.wallet-btn-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.wallet-btn-icon {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.input_div {
  position: relative;
}

.presale-btn-image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.info-button {
  background: transparent;
  color: white;
  padding: 0 0;
  margin-left: 10px;
  border-radius: 100px;
}

.info-button:hover {
  cursor: pointer;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #1d1b1b;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-items: center;
  .info-img {
    height: 80px;
    width: 80px;
  }
}

.modal_description {
  width: 300px;

  p {
    line-height: normal;
    font-size: 20px;
  }
}

.wallet-btn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #f2eaea;
}

@media only screen and (max-width: 768px) {
  .modal_description {
    width: 200px;
    p {
      font-size: 15px;
    }
  }
}

/* Timer */

.time-left-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid white 1px;
  border-radius: 10px;
  margin: 0 2rem;
  background-color: #2a3338;
}

.counter {
  margin: 0 10px;
}

.time-unit {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.time-unit-value {
  margin-top: auto;
  height: 1rem;
  font-size: 1rem;
}
.time-number {
  display: flex;
  flex-direction: column;
}
.time-number-value {
  margin-bottom: auto;
  /* height: 2rem; */
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .counter {
    padding: 0.5rem 0;
  }
  .time-unit {
    margin-bottom: 0;
  }
}

/* Scrollbar modification */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #5b1112;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #b71d1d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #da0000;
}

/* my changes */
.hero-info-description {
  font-size: x-large;
}

.hero-info-caption {
  width: 50%;
  font-weight: bold;
  font-size: large;
  color: #ffcfdb;
}

.hero-info-caption1 {
  /* width: 50%; */
  font-weight: 300;
  font-size: medium;
  color: #ffcfdb;
}

.hero-info-dedpool {
  text-align: right;
  font-size: larger;
}

.image-gallery-container {
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  padding: 25px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
}

.image-gallery-container::-webkit-scrollbar {
  display: none;
}

.gallery-image {
  margin: 0px 15px 0px 15px;
  max-height: 30px;
}

@media (max-width: 768px) {
  .image-gallery-container {
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Space items evenly on the row */
    padding: 20px; /* Adjust padding for better spacing */
  }

  .gallery-image {
    width: calc(50% - 20px); /* Show 2 images per row with some spacing */
    margin: 5px;
    padding: 5px 30px 5px 30px;
  }
}

.staking-header {
  padding: 0 0 0 60px;
}

@media (max-width: 768px) {
  .staking-header {
    padding: 0 0 0 20px;
  }
}

.staking-description {
  padding: 0px 60px 0px 60px;
  font-size: large;
  color: #ffcfdb;
}

.staking-container {
  display: grid;
  width: 60%;
  height: 100%;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 80px auto;
  border: 2px solid #ffffff; /* White border */
  border-radius: 40px; /* Rounded corners */
  overflow: hidden;
  padding: 20px;
}

.left-column {
  grid-column: 1; /* Span the first column */
  line-height: 40px;
  margin: 0;
  height: 90%;
  font-size: 1.25rem;
  color: #ffcfdb;
}

.right-column {
  grid-column: 2; /* Span the second column */
  display: flex;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Example styles for buttons */
.button {
  padding: 10px;
  background-color: darkgrey;
  color: grey;
  border: none;
  cursor: not-allowed;
  font-family: torus;
  border-radius: 5px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .left-column {
    padding-left: 10%;
  }

  .staking-container {
    grid-template-columns: 1fr; /* Change to a single column layout */
    padding: 10px;
    margin: 10%;
    width: 80%;
  }

  .right-column {
    grid-column: auto; /* Remove grid-column for full width in mobile */
    justify-content: center;
  }

  .feature-description-paragraph {
    font-size: 0.8rem;
  }
}

.language-selector {
  position: relative;
  justify-self: end;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  font-family: comfortaa;
  font-size: large;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: black;
  max-height: 300px; /* Set the maximum height of the dropdown content */
  overflow-y: auto;
  scrollbar-color: black transparent; /* Firefox */
  scrollbar-width: thin;
}

.dropdown-content::-webkit-scrollbar {
  width: 8px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: red;
}

.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-family: comfortaa;
  font-size: large;
  background-color: black;
  font-size: medium;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.language-selector:hover .dropdown-content {
  display: block;
}

.down-arrow {
  display: inline-block;
  margin-left: 5px; /* Adjust the margin as needed */
}

.hero-two-columns-container {
  display: flex;
}

@media (max-width: 768px) {
  .hero-two-columns-container {
    flex-direction: column;
  }
}

.header-button {
  background-color: #da0000;
  /* font-size: 1rem; */
  /* width: 50%; */
  /* margin: 0 25%; */
  justify-content: center;
  color: white;
  font-family: "torus";
  /* padding: 3px; */
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  /* margin: 5px; */
}

.button-container {
  padding: 0 20px;
}

@media only screen and (max-width: 768px) {
  .button-container {
    padding: 10px 0;
  }
}
